body {
	width: 500px;
	min-width: 500px;
	height: auto;
}

html {
	height: auto;
}

.lego-sections__item {
    margin-bottom: 5px;
}

.lego-data-sidebar {
    width: 100%;
}

#app-form { 
	padding: 10px 10px;
}
.lego-button {
	xxmargin: 5px 5px;
}
.lego-text-input, .lego-select {
	margin: 5px 5px;
	width: 100%;
}
.tab-contents, #log {
	visibility: hidden;
}

.lego-label {
	display: inline;
}
#left-bar-experiments {
	padding: 5px;
}
#left-bar {
	height: 100%;
}
.accordion__link::before {
	content: "-";
}
.closed .accordion__link::before {
	content: "+";
}
.accordion__link {
	margin-top: 10px
}
.experiment-link, #visualise-results, #clear-all {
	margin-left: 10px
}
.green-link {
	color: green !important
}
.red-link {
	color: red !important
}
.blue-link {
	color: blue !important
}
.yellow-link {
	color: orange !important
}
.bold {
	font-weight: bold;
	font-weight: 900;
}
.lego-sections__item {
	margin-left: 10px;
  	margin-bottom: 2px;
}
label.list-label {
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 10px;
}
textarea {
  font-size: 10px;
  margin-right: 10px;
  width: 90%;
}
#error {
	color: red;
}
.closed ul, .closed div  {
	display: none;
}
#enable-widget {
	float: right;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}